<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.voice.dao.Book">
	<select id="getBookInfoByName" resultType="com.wechat.voice.pojo.VoiceBeans">
		<!-- select * from voice where voice_name like #{name} -->
		SELECT * FROM voice LIMIT 100,20
	</select>

</mapper>